.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    text-align: center;
}

.logo img{
    width: 400px;
    margin: 10px;
}

.input{
    width: 300px;
    padding:10px;
    margin: 5px;
}

button{
    padding: 5px 20px;

}